

python/model.json
python/Untitled.ipynb
python/.ipynb_checkpoints/Untitled-checkpoint.ipynb
update.bat
python/.ipynb_checkpoints/Ex-rights dividend-checkpoint.ipynb
python/.ipynb_checkpoints/getStock-checkpoint.ipynb
python/getStock.ipynb

python/Ex-rights dividend.ipynb
